
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
</head>
<body>
    <div class="Dropdown">
        <div class="input-field">
            <select id="roleSelect" autofocus>
                <option value="" selected disabled>Select Role</option>
                <% roles.forEach(role => { %>
                    <option value="/skill_hunt/skill_wind/<%= encodeURIComponent(role.reference) %>/<%= encodeURIComponent(role.locdata) %>">
                        <%= role.role %>
                    </option>
                <% }); %>
            </select>
           
<i class="fas fa-angle-down"></i>

        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var dropdown = document.getElementById('roleSelect');


            dropdown.addEventListener('change', function (event) {
                event.preventDefault();
                event.stopPropagation();

                var selectedRoleName = this.value;
                console.log(selectedRoleName);
                if (selectedRoleName) {
                    location.assign(selectedRoleName);
                }
            });
        });
    </script>

    <style>
        .Dropdown {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px; 
        }

        .input-field {
            position: relative;
            width: 80%; 
            margin: 0 auto; 
            text-align: center; 
        }

        select {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid black;
            border-radius: 4px;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: #1D976C;  
    background: -webkit-linear-gradient(to right,#1D976C,#93F9B9); 
    background: linear-gradient(to right, #1D976C,#93F9B9); 
            cursor: pointer;
            color:black;
            font-weight: bold;
        }

        .fa-angle-down {
        position: absolute;
        right: 10px; 
        top: 50%; 
        transform: translateY(-50%);
        color: #555; 
    }
    option{
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }

    </style>
</body>
