<!DOCTYPE html>
<html language="en">
    <%- include('./partials/header.ejs') %>
<body>
    
     <!-- javascript that run on the server its like php injecting in html same  -->

    <!-- include file like nav header fooer so when change only one file change all will be changed automatiucally -->
    <!-- here - sign does not exclude the special character -->

    </div>
</body>
</html>
