<%- include('./partials/header.ejs',{title: title}) %>


<style>
    body, html {
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        overflow: hidden;
    }
    body{
        overflow-y: scroll;
    }

    main {
       width: 100%;
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
    
    }

    #chart-container {
        width: 100%; 
        height: 90vh; 
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: auto;
        box-sizing: border-box;
    }

    @media screen and (max-width: 800px) {
        main{
            width:auto;
            padding:5px;
            display: block;
         
        }
        #chart-container {
            width: 100%; /* Full width for smaller screens */
            height: auto; /* Adjust height for smaller screens */
            box-sizing:border-box;
            padding:0px;
        

        }
    }
</style>

<main>
    <div id="chart-container">FusionCharts will render here</div>
</main>

<!-- Include FusionCharts library -->
<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.gammel.js"></script>

<script>
    // Define fusionData array using EJS syntax to iterate over 'projects'
    var fusionData = [
        <% data.forEach(function(project) { %>
        {
            label: '<%= project.role %>',
            value: <%= project.percentage %>
        },
        <% }); %>
    ];

    // Render FusionCharts chart
    FusionCharts.ready(function () {
        var myChart = new FusionCharts({
            type: 'doughnut2d',
            renderAt: 'chart-container',
            width: '100%',
            height: '100%', // Set an appropriate height for the chart
        
            dataFormat: 'json',
            loadMessage: "loading your data",
            dataSource: {
                chart: {
                    caption: 'Job Role Skill Fit',
                    subcaption: 'Based on Percentage Match - How Well Your Skills Fit Different Job Roles',
                    showpercentvalues: '1',
                    defaultcenterlabel: '',
                    captionpadding: '0',
                    decimals: '1',
                    plottooltext: "Your skills match <b>$percentValue</b> with <b>$label</b>",
                    theme: 'gammel',
                    palette: 5,
                    baseFont: "Trickster",
                    labelDistance:"1",
                    manageLabelOverflow:1,
                    useEllipsesWhenOverflow:1,
                    baseFontSize: 15,
                    labelFontSize: 17,
                    labelFontBold: 1,
                    captionFontSize: 20,
                    subCaptionFontSize: 17,
                    captionFontBold: 1,
                    alignCaptionWithCanvas: 1,
                    enableRotation: 1,
                    enableSmartLabels: 1,
                    showLegend: '0', // Disable legend items
                    subCaptionFontColor: "#000000",
                    responsive: 1,
                    scrollBar: {
                enabled: true
            },
            zoom: {
                enabled: true
            }
                },
                data: fusionData // Use the dynamically generated data array
            }
        }).render();
    });
</script>
