body {
    margin: 0;
    padding: 0;
    /* font-family: Arial, sans-serif; Set a default font */
    overflow-x: hidden;
}

.navbar {
   /* Set text color of the navigation bar */
    padding: 0px 0px; /* Add padding to the navigation bar */
    
    
}
#index {
    width:20%; 
    height: 500px;
    float:left;
    margin-left:.5%;
    margin-top: .2;
}
#data{
    width:79%; height: 500px;float:left;
    margin-top: .4%;
}

.container {
    max-width: 1200px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 0px; /* Add padding to the container */
    
}



#map {
    width: 50%;
    height: 500px;
    float:right;/* Add a border to the map container for visualization */
    margin-top: .4%;
}

#chart-container {
    width: 50%; /* Ensure the chart container fills the width of its parent */
    height:500px;
    float:left; /* Set a fixed height for the chart */
    margin-top: .4%;
}
/* CSS for caption */
.h3 {
text-align: center; /* Align caption to center */
font-size: 18px; /* Font size */
color: #FFFFFF; /* Font color (white) */
margin-top: 20px; /* Add top margin for spacing */
position: absolute; /* Position the caption absolutely */
top: 10px; /* Adjust top position as needed */
left: 50%; /* Center horizontally */
transform: translateX(-50%); /* Center horizontally */
background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
padding: 10px; /* Add padding */
border-radius: 5px; /* Add border radius */
}