*{
  margin:0;
  padding:0;

}
nav{
  background: #1D976C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,#1D976C,#93F9B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1D976C,#93F9B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  box-shadow:3px 3px 5px rgba(0,0,0,0.1);
  height: 100px;
  width:100%;

}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;

}
nav li{
  height:100px;

}
nav a{
  height: 100%;
  padding:0 30px;
  text-decoration: none;
  align-items:center;
  display:flex;
  color:black;
  position: relative;
  justify-content: space-between;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-right: 20px;





}
nav a:hover{
  color :#f0f0f0;


}
nav li:first-child{
  margin-right: auto;

}
.sidebar{
  position:fixed;
  top:0;
  right:0;
  height:100vh;
  width:250px;
  z-index: 999;
  background-color:rgba(255, 255, 255, 0.514) ;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  display:none;
  flex-direction:column;
  align-items: flex-start;
  justify-content:flex-start;
  font-family: 'Montserrat', sans-serif;
}
.sidebar li{
  width: auto;

}
.sidebar a{
  width:100%;
  

}
.menu-button{
  display: none;

}


@media(max-width:800px){
  .hideOnMobile{
      display: none;

  }
  .menu-button{
      display:block;


  }

}
@media(max-width:400px){
  .sidebar{
      width:100%;

  }

}
.skillhub {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.skillhub a {
  font-size: 3rem; /* Adjust the size as needed */
  font-weight: bold;
  margin-top: -.5rem;
  color: black;
}
.sub-caption {
  font-size: 1rem; /* Adjust the size as needed */
  font-weight: normal;
  color: black;
  margin-top: -2rem; /* Adjust the spacing as needed */
}
.skillhub a:hover{
  color:black;

}
.sub-caption{
  text-align: center;
  font-size: 1.1rem;
  align-items: center;
}