@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-sarif;
    box-sizing:border-box;
  
}
body,html{
    overflow: hidden; /* Hide the scrollbar */
}

.container{
    width:100%;
    min-height:100vh;
    background: #1D976C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#1D976C,#93F9B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D976C,#93F9B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    background-size: cover;
    background-position: center;
    padding:10px 8%;

}
nav{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 0;

}
nav ul{
    list-style:none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
    font-size: 1.5rem;
    justify-content: flex-end;
}
nav ul li{
    display:inline-block;
    margin: 10px 20px;
    height: 50px;


}
nav ul li a{
    color: black;
    text-decoration: none;
    height: 100%;
    padding: 0 10px;
    font-weight:500;
    margin-right: 2px;
 


}
nav li:first-child{
    margin-right: auto;
}
nav a:hover{
     color: #f0f0f0;
}
.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    width: 100%;
    overflow: hidden;
}
.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start ;
    color: black;
    padding:1rem 2 rem;
    width:100%;


}
.column-left h1{
    margin-bottom: 1rem;
    font-size:7.5rem;
    width:100%;
    line-height:80px;

}
.column-left h2{
    margin-bottom: 1rem;
    font-size:3.5rem;
    width:100%;
    font-weight: 500;
}
.column-left p{
    margin-bottom: 2rem;
    font-size:1.5rem;
    height: 1.5;
    width: 100%;

}
button{
    padding: 1rem 3 rem;
    font-size: 30px;
    border: none;
    color: white;
    background: #196F3D;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    width: 200px;      /* Increase width */
    height: 60px;
    font-family: 'Poppins', sans-serif;
}
button:hover{
    background:#fff;
    color: #000;


}
.sidebar{
    position:fixed;
    top:0;
    right:0;
    height:100vh;
    width:250px;
    z-index: 999;
    background-color:rgba(255, 255, 255, 0.514) ;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display:none;
    flex-direction:column;
    align-items: flex-start;
    justify-content:flex-start;
}
.sidebar li{
    width: 100%;

}
.sidebar a{
    width:100%;
    

}
.menu-button{
    display: none;

}


@media(max-width:800px){
    .hideOnMobile{
        display: none;

    }
    .menu-button{
        display:block;
        justify-items: right;
        padding-left: 10px;


    }

}
@media(max-width:400px){
    .sidebar{
        width:100%;

    }
    .column-left h1{
        font-size: 2rem;
        line-height: auto;
        width: auto;




    }
    .column-left h2{
        font-size:1rem;

    }
    .column-left p{
        font-size:.5rem;
    }
    button{
        width: auto;      /* Increase width */
    height: auto;
    font-size:10px;

    }
    .hero-container {
        width:auto;
        padding: 0px;
    }

}
@media screen and (max-width:800px)
{
    .column-left h1{
        font-size: 4rem;
        line-height: 32px;
        width: auto;




    }
    .column-left h2{
        font-size:1.4rem;

    }
    .column-left p{
        font-size:1rem;
    }
    button{
        width: 100px;      /* Increase width */
    height: 30px;
    font-size:15px;

    }
    .hero-container {
        width:auto;
        padding: 0px;
    }
    .column-left {
      
        width:auto;
    
    
    }
  



}


